.main {
    margin: auto;
    border: 0.3rem solid #3b3b3b;
    background-color: #3b3b3b;
    height: 25rem;
    width: 60rem;
}
.box1 {
    float: left;
    width: 30rem;
    height: 12.5rem;
    background-color: rgb(239, 79, 79);
}

.text1 {
    color: white;
    text-align: center;
    position: relative;
    top: 5rem;
}

.loading1 {

    border-top: 0.5rem solid white; 
    border-bottom: 0.5rem solid white;
    padding: 0.7rem;
    position: relative;
    top: 2rem;
    left:10rem ;
    width: 8rem;

    animation-name: loading1;
    animation-duration: 5s;
    animation-timing-function:ease-out;
    animation-iteration-count: infinite;
    
  
    

}

@keyframes loading1 {
    
    0% {
        width: 0rem;
    }
    100% {
        width: 8rem;
    }
 
}

.box2 {
    float: left;
    width: 30rem;
    height: 12.5rem;
    background-color: rgb(166, 3, 3);


}

.loading2 {
    border-top: 1.5rem solid white; 

    position: relative;
    top: 2.3rem;
    left:12rem ;
    width: 8rem;


    animation-name: loading1;
    animation-duration: 5s;
    animation-timing-function:ease-out;
    animation-iteration-count: infinite; 
 
}

.text2 {
    color: white;
    position: relative;
    text-align: center;
    top: 5rem;
    left:12rem ;
    width: 7.9rem;
    height: 1.4rem;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgba(255, 255, 255, 0.24);
}


.box3 {
    float: right;
    width: 30rem;
    height: 12.5rem;
    background-color: rgb(239, 79, 79);
}



.box4 {
    float: left;
    width: 30rem;
    height: 12.5rem;
    background-color: rgb(166, 3, 3);
}

.loading4 {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        margin:1rem auto;
        position: relative;
        top: 5rem;
        background: #ffffff;
        color: rgba(255, 255, 255, 0.475);
        box-shadow: -1.5rem 0, 1.5rem 0;
        box-sizing: border-box;
        animation: rotation 1s ease-in-out infinite;
      }
      


@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


.loading3 {
    margin: 1rem auto;
    background-color: rgba(255, 255, 255, 0.256);
    height: 2rem;
    width: 2rem;
    position: relative;
    top: 5rem;
    
animation: loading2 2s linear infinite forwards;

}

@keyframes loading2 {
    0% {
      box-shadow: 0 0  inset;
      color: white;
    }
    100% {
      box-shadow: 48px 0 inset;
      color: white;
    }
  }

  .circle3 {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    position: inherit;
    top: 2rem;

    animation-name: rotate2;
    animation-duration: 2s;
    animation-iteration-count: infinite; 


  }

  @keyframes rotate2 {
    0%{
        left: 0rem;
        top: 2rem;
    }
    25% {
        left: 2rem;
        top: 2rem;
    }
    50% {
        left: 2rem;
        top: -0.5rem;
    }
    75% {
        top: -0.5rem;
        left:-0.5rem;
    }
    100%{
        left: -0.5rem;
        top: 2rem;
    }
  }